RewriteEngine on  
 RewriteBase /servicios/  
 RewriteCond %{REQUEST_FILENAME} !-d  
 RewriteCond %{REQUEST_FILENAME} !-f  
 RewriteCond %{REQUEST_FILENAME} !-l  
 RewriteRule ^(.+)$ Api.php?url=$1 [QSA,NC,L]  